<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body style="background: #214a80;">
    <div class="login-dark" style="height: 695px;" *ngIf="!loading">
        <form (ngSubmit)="login()" class="conte"[formGroup]="loginUsuario">
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Correo" formControlName="Email"></div>
            <span *ngIf="loginUsuario.get('Email')?.hasError('required') && loginUsuario.get('Email')?.touched" class="text-danger errorLabel">
              El <strong>Correo</strong> es requerido.
            </span>
            <span *ngIf="loginUsuario.get('Email')?.hasError('email') && loginUsuario.get('Email')?.touched" class="text-danger errorLabel">
              El <strong>Correo</strong> es invalido.
            </span>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña" formControlName="Password"></div>
            <span *ngIf="loginUsuario.get('Password')?.hasError('required') && loginUsuario.get('Password')?.touched" class="text-danger errorLabel">
              La <strong>Contraseña</strong> es requerida.
            </span>
            <div class="form-group"><button type="submit" class="btn btn-primary btn-block" [disabled]="loginUsuario.invalid">Ingresar</button></div>
            <div class="bar" #bar></div>
            <div class="forgotc" #forgc><a class="forgot" routerLink="/register" (mouseleave)="barout(bar, bar2, forgc)" (mouseenter)="barenter(bar, bar2, forgc)">Registrarse</a></div>
            <div class="bar2" #bar2></div>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
