<div class="inicio" id="in">
  <div>
    Hola, me llamo <span style="color: #e31b6d">Renzo Magnoni</span>. <br />
    Full-stack web developer.
  </div>
  <div>
    <button class="btnstart" role="link" [routerLink]="'/home'" fragment="ab">
      Conoce mi trabajo
    </button>
  </div>
</div>

<div id="ab" #ab>
  <app-nav-bar></app-nav-bar>
  <div class="titulos reveal">
    Sobre Mi
    <div class="barra"></div>
  </div>

  <div class="about">
    <div class="caract">
      <span class="material-icons" id="icons">bolt</span>
      <span class="material-icons" id="hexa">hexagon</span>
      <strong id="titu">Eficiente</strong>
      <p id="texto">Me caracterizo por mi flujo de trabajo rápido y eficaz.</p>
    </div>

    <div class="caract">
      <span class="material-symbols-outlined" id="icons">lightbulb</span>
      <span class="material-icons" id="hexa">hexagon</span>
      <strong id="titu">Intuitivo</strong>
      <p id="texto">Mis sitios son fáciles de navegar y de entender.</p>
    </div>

    <div class="caract">
      <span class="material-symbols-outlined" id="icons">palette</span>
      <span class="material-icons" id="hexa">hexagon</span>
      <strong id="titu">Creativo</strong>
      <p id="texto">Nunca verás sitios iguales hechos por mi.</p>
    </div>

    <div class="caract">
      <span class="material-icons" id="icons">shuffle</span>
      <span class="material-icons" id="hexa">hexagon</span>
      <strong id="titu">Flexible</strong>
      <p id="texto">Me adapto a las necesidades del cliente.</p>
    </div>
  </div>

  <div class="about2">
    <div class="me">
      <img
        src="../../assets/Photo/mehexa.png"
        alt="Me"
        width="350px"
        height="303px"
      />
      <p id="qs">Quién soy?</p>
      <p id="qst">
        {{ desPerfil }}
      </p>
      <app-edit-icon (click)="btnedit()" *ngIf="!IsEditing"></app-edit-icon>
      <app-edit-icon-input *ngIf="IsEditing"></app-edit-icon-input>
    </div>

    <div class="specs">
      <div style="display: flex; flex-direction: row">
        <div class="titulos" id="tit">
          Experiencia en tecnologías:
          <div class="barra" id="bar"></div>
        </div>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[1]"
              *ngIf="IsEditingBars[1]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[1]">{{ inputLeng[1] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[1]"
              style="width: calc({{ inputPorc[1] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[1]">{{ inputPorc[1] }}%</span>
          <input
            [(ngModel)]="inputPorc[1]"
            *ngIf="IsEditingBars[1]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(1)"
          *ngIf="!IsEditingBars[1]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(1)"
          *ngIf="IsEditingBars[1]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          *ngIf="IsEditingBars[1]"
          (click)="btnsend(1)"
        ></app-icons-edit-done>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[2]"
              *ngIf="IsEditingBars[2]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[2]">{{ inputLeng[2] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[2]"
              style="width: calc({{ inputPorc[2] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[2]">{{ inputPorc[2] }}%</span>
          <input
            [(ngModel)]="inputPorc[2]"
            *ngIf="IsEditingBars[2]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(2)"
          *ngIf="!IsEditingBars[2]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(2)"
          *ngIf="IsEditingBars[2]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          (click)="btnsend(2)"
          *ngIf="IsEditingBars[2]"
        ></app-icons-edit-done>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[3]"
              *ngIf="IsEditingBars[3]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[3]">{{ inputLeng[3] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[3]"
              style="width: calc({{ inputPorc[3] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[3]">{{ inputPorc[3] }}%</span>
          <input
            [(ngModel)]="inputPorc[3]"
            *ngIf="IsEditingBars[3]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(3)"
          *ngIf="!IsEditingBars[3]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(3)"
          *ngIf="IsEditingBars[3]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          (click)="btnsend(3)"
          *ngIf="IsEditingBars[3]"
        ></app-icons-edit-done>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[4]"
              *ngIf="IsEditingBars[4]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[4]">{{ inputLeng[4] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[4]"
              style="width: calc({{ inputPorc[4] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[4]">{{ inputPorc[4] }}%</span>
          <input
            [(ngModel)]="inputPorc[4]"
            *ngIf="IsEditingBars[4]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(4)"
          *ngIf="!IsEditingBars[4]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(4)"
          *ngIf="IsEditingBars[4]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          (click)="btnsend(4)"
          *ngIf="IsEditingBars[4]"
        ></app-icons-edit-done>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[5]"
              *ngIf="IsEditingBars[5]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[5]">{{ inputLeng[5] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[5]"
              style="width: calc({{ inputPorc[5] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[5]">{{ inputPorc[5] }}%</span>
          <input
            [(ngModel)]="inputPorc[5]"
            *ngIf="IsEditingBars[5]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(5)"
          *ngIf="!IsEditingBars[5]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(5)"
          *ngIf="IsEditingBars[5]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          (click)="btnsend(5)"
          *ngIf="IsEditingBars[5]"
        ></app-icons-edit-done>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[6]"
              *ngIf="IsEditingBars[6]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[6]">{{ inputLeng[6] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[6]"
              style="width: calc({{ inputPorc[6] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[6]">{{ inputPorc[6] }}%</span>
          <input
            [(ngModel)]="inputPorc[6]"
            *ngIf="IsEditingBars[6]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(6)"
          *ngIf="!IsEditingBars[6]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(6)"
          *ngIf="IsEditingBars[6]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          (click)="btnsend(6)"
          *ngIf="IsEditingBars[6]"
        ></app-icons-edit-done>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[7]"
              *ngIf="IsEditingBars[7]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[7]">{{ inputLeng[7] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[7]"
              style="width: calc({{ inputPorc[7] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[7]">{{ inputPorc[7] }}%</span>
          <input
            [(ngModel)]="inputPorc[7]"
            *ngIf="IsEditingBars[7]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(7)"
          *ngIf="!IsEditingBars[7]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(7)"
          *ngIf="IsEditingBars[7]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          (click)="btnsend(7)"
          *ngIf="IsEditingBars[7]"
        ></app-icons-edit-done>
      </div>

      <div style="display: flex">
        <div class="ht">
          <div class="nm">
            <input
              [(ngModel)]="inputLeng[8]"
              *ngIf="IsEditingBars[8]"
              style="height: 24px; width: 80px"
              type="text"
              class="form-control"
              aria-label="Input group example"
              aria-describedby="basic-addon1"
            />
            <div *ngIf="!IsEditingBars[8]">{{ inputLeng[8] }}</div>
          </div>
          <div class="azl">
            <div
              *ngIf="!IsEditingBars[8]"
              style="width: calc({{ inputPorc[8] }}%*1.14)"
            ></div>
          </div>
          <span *ngIf="!IsEditingBars[8]">{{ inputPorc[8] }}%</span>
          <input
            [(ngModel)]="inputPorc[8]"
            *ngIf="IsEditingBars[8]"
            style="width: 65px; height: 24px"
            placeholder="%"
            type="number"
            min="1"
            max="100"
            class="form-control"
            aria-label="Input group example"
            aria-describedby="basic-addon1"
          />
        </div>
        <app-edit-icon
          (click)="btneditbar(8)"
          *ngIf="!IsEditingBars[8]"
          style="
            margin-right: 10px;
            transform: scale(0.7);
            position: relative;
            bottom: 8px;
          "
        ></app-edit-icon>
        <app-icons-edit-cancel
          (click)="btneditclose(8)"
          *ngIf="IsEditingBars[8]"
        ></app-icons-edit-cancel>
        <app-icons-edit-done
          (click)="btnsend(8)"
          *ngIf="IsEditingBars[8]"
        ></app-icons-edit-done>
      </div>
    </div>
  </div>
</div>

<div id="his" class="historia">
  <div class="izq">
    <div class="contc">
      <div class="carteles" id="mic">Mis inicios</div>
      <div class="cartelact" id="micc">
        <p>
          Mis primeros acercamientos a la programación fueron por los
          videojuegos, uno de los primeros fue minecraft, donde programé algunos
          mods simples en Java.
        </p>
      </div>
    </div>

    <div class="contc">
      <div class="carteles" id="pyc">Python</div>
      <div class="cartelact" id="pycc">
        <p>
          Aquí empecé a adentrarme a proyectos más elaborados en los que
          empleaba la dificultad, lógica y programación. Entre los
          <button class="adms"><strong>proyectos</strong></button> se encuentra
          un Bot Automatizador de interacciones para Instagram, en donde
          <span style="border-bottom: 1px solid #e0e0e0"
            >implementé tecnologias como:</span
          >
          <br /><br />• Chrome WebDriver. <br />
          • Selenium. <br />
          • Librerias de Python.
        </p>
      </div>
      <div class="admscart">
        • Calculadora. <br />• Randomizador. <br />• Automatizador Web. <br />•
        Pantallas de carga.
        <span class="material-symbols-outlined triang">change_history</span>
      </div>
    </div>
  </div>

  <div class="titulos reveal">
    Mi Historia <br />
    <span style="color: #6d6d6d; font-size: 15px">(con la programación)</span>
    <div class="barra" id="bar2"></div>
    <div id="linea"></div>
  </div>

  <div class="drh">
    <div class="contc">
      <div class="carteles" id="arc">Arduino</div>
      <div class="cartelact" id="arcc">
        <p>
          Mi primer contacto real con la programación dura fue con
          <a
            href="https://es.wikipedia.org/wiki/Arduino"
            target="_blank"
            rel="noopener"
            >Arduino</a
          >, aquí aprendí las bases de la programación.
        </p>
      </div>
    </div>

    <div class="contc">
      <div class="carteles" id="qbas">QBasic</div>
      <div class="cartelact" id="qbass">
        <p>
          Obtuve conocimientos de lenguajes más antiguos y sus estructuras
          gracias a que en mi educación técnica secundaria nos enseñaron
          <span style="border-bottom: 1px solid #e0e0e0">lenguajes como:</span>
          <br />
          <br />•
          <a
            href="https://es.wikipedia.org/wiki/QBASIC"
            target="_blank"
            rel="noopener"
            >QBASIC</a
          ><br />•
          <a
            href="https://es.wikipedia.org/wiki/MS-DOS"
            target="_blank"
            rel="noopener"
            >MS-DOS</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<div id="ex">
  <div class="titulos reveal">
    Experiencias <br />
    <span style="color: #6d6d6d; font-size: 15px">(Próximamente)</span>
    <div class="barra"></div>
  </div>

  <div class="contwork">
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
    <div class="work">
      <div class="workhov"><button class="workbtn">Conoce más</button></div>
    </div>
  </div>
</div>

<div id="shapecont">
  <div class="custom-shape-divider-bottom-1672598902">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</div>

<div id="cont">
  <div class="titulos reveal">
    Contacto
    <div class="barra"></div>
  </div>

  <div class="contico">
    <div class="icocont">
      <div class="ico"><i class="gg-mail"></i></div>
    </div>
    <div class="icocont">
      <div class="ico"><i class="gg-instagram"></i></div>
    </div>
  </div>

  <div class="argpro">
    <p #argp>
      Proyecto realizado como trabajo integrador final para Argentina Programa
      #YoProgramo
    </p>
    <img
      (mouseenter)="imghover(argp, triang)"
      (mouseleave)="imgdhover(argp, triang)"
      style="transform: scale(0.15)"
      src="../../assets/Photo/AP-logo.png"
      alt="Argentina programa"
    />
    <span #triang class="material-symbols-outlined triangg"
      >change_history</span
    >
  </div>
</div>

<section class="modal">
  <div class="modal__cointainer">
    <img src="../../assets/Photo/Captura.PNG" alt="ejemplo" />
    <div>
      <h2>
        <a
          href="https://es.wikipedia.org/wiki/Lorem_ipsum"
          target="_blank"
          rel="noopener"
          >Lorem ipsum dolor sit.</a
        >
      </h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum,
        voluptatibus, magni delectus ipsum laboriosam ducimus, corrupti sed
        aspernatur consequuntur facilis eveniet iusto impedit repellendus cumque
        nihil sunt similique excepturi animi. Error eos dicta sunt eius enim,
        minima ullam. Nisi, ut.
      </p>
      <span class="material-symbols-outlined modal__cointainer_x">close</span>
    </div>
  </div>
</section>

<section class="okalert">
  <div id="alert">Email copiado correctamente!</div>
</section>
