@font-face {
  font-family: "rl";
  src: url("../../assets/Fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "rb";
  src: url("../../assets/Fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "po";
  src: url("../../assets/Fonts/Poppins-Light.ttf");
}



* {
  font-family: "rl";
  box-sizing: border-box;
  -webkit-user-select: none;/* Chrome  y Safari */
  -moz-user-select: none;/* Firefox */
   -ms-user-select: none;/* IE 10+ */
       user-select: none;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "rs";
  scroll-behavior: smooth;
}

.inicio {
  display: flex;
  flex-direction: column;
  background-color: #252934;
  color: white;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 32pt;
  line-height: 36pt;
  text-align: center;
}

.btnstart {
  color: white;
  background-color: #252934;
  border: 2px solid #fff;
  font-size: 13pt;
  padding: 1px 20px 1px 20px;
  margin-top: 20px;
  transition: all 0.5s;
  border-radius: 10px;
}

.btnstart:hover {
  color: #252934;
  background-color: #00ffff;
  box-shadow: 0px 0px 25px #4bffff;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 15pt;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.5s;
}

#ab {
  width: 100%;
  height: auto;
}

.about {
  background-color: white;
  color: #424242;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/* Responsive */
@media screen and (max-width: 1150px){

  .me{
    margin-left: 0px !important;
  }

  .about{
    flex-wrap: wrap !important;
  }

  .about2{
    flex-wrap: wrap !important;
    justify-content: center;
    margin-top: 900px;
    flex-direction: column;
  }

  .specs{
    width: 0;
    margin-right: 0;
    margin-top: 20vh;
    width: 100% !important;
    align-items: center;
  }

  #bar{
    margin: 5px 0 30px 105px !important;
    height: 1px !important;
  }
}

/* Phone */

@media screen and (max-width: 480px){
  #qst{
    width: 360px !important;
  }

  .ht{
    width: 320px !important;
  }

  .nm{
    font-size: 11px !important;
    padding: 0 5px 0 5px !important;
  }

  .specs{
    margin-top: 80px;
    margin-right: 0px !important;
  }

  .contc{
    width: 15px !important;
  }

  .activado{
    width: 150px !important;
  }

  .cartelact{
    width: 830% !important;
    font-size: 15px !important;
  }

  .carteles{
    width: 125px !important;
  }

  .adms{
    font-size: 15px !important;
  }

  .icocont{
    margin: 100px 60px 100px 60px !important;
  }

  .triang{
    bottom: 110px !important;
    right: 80px !important;
  }

  .admscarton{
    bottom: 450px !important;
    left: 114px !important;
    width: 145px !important;
  }

  .argpro p{
    font-size: 13px;
    text-underline-offset: 1px;
    padding: 0 10px 0 10px;
    line-height: 25px;
  }

  .caract{
    align-items: center;
  }

  #texto{
    width: 350px;
  }
}

@media screen and (max-width: 1257px) {
  .caract{
    padding: 0px 0px 0px 0px !important;
  }
}


.caract {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 50px 0px;
  font-size: 22pt;
  width: 700px;
  height: 300px;
}

#icons {
  position: relative;
  top: 8.7rem;
  font-size: 65px;
  color: white;
}

#hexa {
  font-size: 210px;
  color: #28c2c8;
}

#texto {
  position: relative;
  bottom: 0.5rem;
  font-size: 13pt;
  color: #747474;
  font-weight: 600;
}

#titu {
  position: relative;
  bottom: 1rem;
  font-weight: 900;
  font-family: "rb";
  text-decoration: underline;
  text-underline-offset: 3px;
}

.titulos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
  font-family: "rb";
  font-size: 30pt;
  color: #444649;
  font-weight: 100;
  flex-direction: column;
  text-align: center;
}

.barra {
  margin: 15px 0 30px 0;
  height: 4px;
  width: 70px;
  background-color: #444649;
  border-radius: 10px;
}

.about2{
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 100px;
}

.me{
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

#qs{
  font-family: "rb";
  font-size: 21pt;
  font-weight: 900;
  color: #424242;
  margin: 20px 0 15px 0;
  text-decoration: underline;
  text-underline-offset: 4px;
}

#qst{
  font-family: "rl";
  color: #747474;
  text-align: center;
  font-size: 12pt;
  line-height: 18pt;
  width: 500px;
  font-weight: 600;
}

.specs{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.ht{
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #EEEEEE;
  width: 550px;
  height: 28px;
  padding-right: 15px;
  margin-bottom: 25px;
}

.nm{
  display: flex;
  flex-basis: 140px;
  color: white;
  background-color: #03C2C9;
  height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

.azl{
  width: 450px;
}

.azl div{
  border-radius: 0 20px 20px 0;
  background-color: #01A1A7;
  height: 28px;
}

#tit{
  font-size: 26px;
  padding-top: 0;
  margin-top: 0;
  align-items: flex-start;
  font-family: "rl";
  font-weight: 500;
  margin-right: 25px;
}

#bar{
  width: 105px;
  height: 1.4px;
  margin: 5px 0 30px 0;
}

#his{
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f5f6f6;
}

.historia{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#bar2{
  width: 40px;
  min-height: 8.5px;
  margin-bottom: 0;
  border-radius: 0;
}

#linea{
  background-color: #28c2c8;
  width: 10px;
  height: 100%;
  border-radius: 25px;
  margin: 25px 0px;
  z-index: 1;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px black;
}

.carteles{
  display: flex;
  min-height: 40px;
  width: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(31, 31, 31);
  font-weight: 600;
  border-radius: 50px;
  background: #81d4d9;
  box-shadow:  7px 7px 15px #67aaae,
               -7px -7px 15px #9bfeff;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 0px;
}

.carteles:hover{
  box-shadow: 0px 5px 50px gray;
}

.contc{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.activado{
  z-index: 2;
  border-radius: 12px 12px 0 0;
  background: #81d4d9;
  box-shadow: inset 5px 5px 10px #67aaae,
              inset -5px -5px 10px #9bfeff !important;
  width: 200px;
  transition: 0.5s;
}

.oculto{
  display: flex !important;
}

.cartelact{
  z-index: 1;
  border-radius: 0px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow:  -7px -7px 9px #d9d9d9,
               7px 7px 9px #ffffff;
  padding: 10px;
  text-align: start;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "po";
  color: #6d6d6d;
  display: none;
}

a:hover{
  color: #81d4d9 !important;
  border-bottom: 1px dashed #81d4d9 !important;
  transition: all 0.3s;
  font-weight: 900;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #6d6d6d;
  border-bottom: 1px dashed #6d6d6d;
}

.adms{
  border: none;
  font-size: 17px;
  color: #6d6d6d;
  text-decoration: underline;
  text-underline-offset: 3px;
  position: relative;
  right: 5px;
}

.adms:hover{
  color: #81d4d9;
  transition: all 0.5s;
  font-weight: 900;
}

.admscart{
  background-color: #e0e0e0;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.75);
  border: 1px solid #000000 ;
  position: relative;
  bottom: 315px;
  left: 139px;
  z-index: 3;
  padding: 10px;
  color: rgb(48, 48, 48);
  opacity: 0;
  border-radius: 6px;
  transition: all 0.2s;
}
.triang{
  position: relative;
  bottom: 93px;
  right: 31px;
  rotate: -90deg;
  padding: 0px;
}

.admscarton {
  opacity: 1 !important;
}

#mic, #arc, #pyc, #qbas{
  margin-top: 250px;
}

#qbass{
  margin-bottom: 25px;
}



#shapecont{
  position: relative;
}

.custom-shape-divider-bottom-1672598902 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1672598902 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.custom-shape-divider-bottom-1672598902 .shape-fill {
  fill: #252934;
}

#cont{
  width: 100%;
  min-height: 75%;
  height: auto;
  background-color: #252934;
  flex-direction: column;
}

#cont .titulos{
  color: white;
}

#cont .barra{
  background-color: white;
}

.gg-mail, .gg-instagram {
  color: white;
  --ggs: 3;
}

.gg-instagram{
  --ggs: 2;
}

.contico{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icocont{
  border-radius: 13px;
  background: #252934;
  box-shadow: inset 8px 8px 10px #1a1d24,
              inset -8px -8px 10px #303544;
  width: 80px;
  height: 80px;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ico{
  border-radius: 13px;
  background: #252934;
  box-shadow:  8px 8px 10px #1a1d24;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  bottom: 0;
  transition: bottom 500ms;
  border: 2px solid #1a1d255b;
}

.ico:hover{
  position: relative;
  bottom: 26px;
  transition: bottom 500ms;
}

.okalert{
  position: fixed;
  display: flex !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 20;
  justify-content: flex-end;
  align-items: flex-end;
}

#alert{
  background-color: #4eca7d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  z-index: 20;
  font-family: "rl";
  font-weight: 600;
  margin: 0 50px 30px 0;
  position: relative;
  left: 300px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.argpro{
  display: flex;
  justify-content: center;
  align-items: center ;
  color: white;
  flex-direction: column;
  font-size: 15px;
  text-align: center;
}

.argpro p {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  margin: 0 15px;
  border-radius: 10px;
  margin-bottom: -240px;
  opacity: 0;
  font-family: "rl";
  font-weight: 100;
  line-height: 18px;
}

.argpro img{
  margin-bottom: -230px;
  cursor: pointer;
}

.triangg{
  color: rgba(255, 255, 255, 0.2);
  rotate: 180deg;
  position: relative;
  bottom: 93px;
  opacity: 0;
}

.cursorpointer{
  cursor: pointer;
}
